
.jumbotron {
  background-color: #e0D8c3;
  color: black;
}


@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.logo-small {
  color: darkorange;
  font-size: 50px;
}
.logo {
  color: #f4511e;
  font-size: 100px;
}


.navbar {
  margin-bottom: 0;
  background-color: #0D97AC;
  z-index: 9999;
  border: 0;
  font-size: 16px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: darkred !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
 
}



.webpage {
  background: #e0D8c3;
  font-family:Arial, Helvetica, sans-serif
}

.paragraph{
text-align:":left";
}
.carousel-inner > .item > img{
  margin:auto;
  }

 
  .default-heading, .menu-container {
    display:inline-block;
}
.header {
  padding: 30px;
  text-align: center;
  background :#e0d8c3;
  color: black;
  font-size: 30px;
}