
.jumbotron {
  background-color: #e0D8c3;
  color: black;
}

.logo {
  font-size: 200px;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.logo-small {
  color: darkorange;
  font-size: 50px;
}
.logo {
  color: #f4511e;
  font-size: 100px;
}

.serif{
  font-family:"times New Roman", 'Times New Roman', Times, serif
}

.navbar {
  margin-bottom: 0;
  background-color: #0D97AC;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: darkred !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #f4511e !important;
  background-color: #fff !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.font{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-size: large;
}

.webpage {
  background: #e0D8c3;
}
