
.jumbotron {
  background-color: aqua;
  color: darkorange;
}

.logo {
  font-size: 200px;
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.logo-small {
  color: lightskyblue;
  font-size: 50px;
}
.logo {
  color: #f4511e;
  font-size: 100px;
}

.serif{
  font-family:"times New Roman", 'Times New Roman', Times, serif
}